mixin input
  label.input-control.form-field(class=attributes.class)
    input.input-control__input.form-field__input(name=attributes.name type=attributes.type value=attributes.value maxLength=attributes.maxLength class=attributes.mask)
    .input-control__placeholder=attributes.placeholder
    .input-control__error.form-field__error=attributes.error